*{margin: 0px;}
*{font-family: 'Lato', sans-serif;}
.header-container{display: flex;
justify-content: space-between;
align-items: center;
gap: 85px;
padding: 40px 150px 0px 150px;background: rgba(229, 84, 115, 0.10);}
.header-title{color: #272727;
    font-size:60px;
    font-weight: 800;
}
.header-flower{width: 550px;}
.header-description{color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;padding-top: 25px;padding-bottom: 25px;}
.btn{border-radius: 8px;
    background: #E55473;color: white;padding: 16px 33px;border: 0px;font-size: 16px;}
.btn:hover{cursor: pointer;}
.second-header-container{display: flex;
justify-content: space-around;padding: 50px 180px 140px 180px;}
.pngwing6{border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);width:238px;
padding: 80px 58px 0px 59px;}
.pngwing5{border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);width:288px;padding: 86px 37px 35px 35px;text-underline-position: below;}
.pngwing7{border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);width:255px;padding:27px 56px 0px 56px ;}
.second-header-title{text-align: center;
    color: #272727;
    font-size: 35px;
    font-weight: 800;padding: 130px 0px 30px 0px;}
.second-header-description{color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
        font-weight: 400;}
.underline{color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    padding-top: 30px;
    text-decoration-line: underline;}
.support-container{display: flex;text-align: center;justify-content: space-around;border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);margin:0px 200px 80px 200px ;padding: 60px 0px 60px 0px;}
.deal-container{display: flex;align-items: center;justify-content:space-around;border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);padding: 50px 100px 50px 100px;}
.deal-title{color: #272727;
    font-size: 30px;
    font-weight: 800;padding-bottom: 30px;}
.deal-description{color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 14px;
    font-weight: 400;padding-bottom: 30px;}
.deal{text-align: center;}
.insta-container{display: flex;justify-content: space-around;padding: 0px 230px 30px 230px;}
.insta-title{color: #272727;
    text-align: center;
    font-size: 30px;font-weight: 800;padding: 100px 0px 20px 0px;}
.insta-description{color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 14px;
    font-weight: 400;padding-bottom: 40px;}
.photo{width: 250px;}
.form{display: flex;justify-content: center;}
.subscribe-title{color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;padding-top: 150px;}
.subscribe-description{color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 14px;
    font-weight: 400;padding-bottom: 40px;}
.subscribe{background-image: url('../Flower asset/Rectangle\ 9.png');background-repeat: no-repeat;background-size: 70%;background-position: center;margin-bottom: 30px;padding-bottom: 180px;}
.email{width: 500px;height: 47px;border: none;border-radius: 8px;color: rgba(39, 39, 39, 0.60);padding-left: 15px;
    font-size: 13px;
    font-weight: 400;}
#so{padding-right: 15px;}
.footer-title{color:white;
    font-size: 37px;
    font-weight: 800;
text-align: center;}
.footer-description{color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 14px;
    font-weight: 400;padding: 15px 0px 20px 0px;}
.copyright{color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 12px;
    font-weight: 400;}
.footer{background: #111010;padding: 70px 0px 100px 0px;}